@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "mixins.scss";
@import "typography.scss";
@import "variables.scss";

body {
  background-image: url('../images/fabric_background.png');
  a {
    // Use link-colors() from compass
    &:link,
    &:visited,
    &:hover,
    &:active {
      @include link-colors($color-link, $color-link,$color-link, $color-link, $color-link);
    }
  }
}

header {
  .zone-menu-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 30px;
    nav {
      float: right;
      position: relative;
      top: 8px;
      li a {
        &:link,
        &:visited,
        &:hover,
        &:active {
         @include link-colors($color-header-light, lighten($color-header-light, 10%));
          @include hover-link;
        }
      }
    }
  }

  .zone-branding-wrapper {
    @include single-box-shadow($color-header-light, 0, 5px, 5px);
    @include rgba-background($color-header-lighter, .75);
    height: 255px;
    margin-bottom: 10px;
    .site-logo {
      position: absolute;
      top: 65px;
      left: -7.255319148936%;
    }
  }
}

// Style steps on frontpage.
.section-content {
  p {
    margin-bottom: 1em;
  }

  .view-frontpage-steps {
    float: left;
    li {
      clear: left;
      float: left;
      padding: 60px 0;
      background: transparent url('../images/dashes.png') repeat-x left bottom;
      &.views-row-last {
        background: none;
      }
      .step {
        float: left;
        width: 13.541666666667%;
        .step-text {
          position: relative;
          top: -35px;
        }
      }
      .step-content-wrapper {
        float: left;
        width: 79.042553191489%;
        h2 {
          padding-top: 8px;
          margin-bottom: 30px;
        }
        .text {
          float: left;
          width: 60.354430379747%;
        }
        .icon {
          float: right;
          width: 31.645569620253%;
        }
      }
    }
  }
}

footer {
  .zone-footer-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 50px;
  }
  .content {
    color: lighten($color-header-light, 10%); 
    margin-top: 15px; // Fix this with % later
    a {
      @include link-colors($color-header-light, lighten($color-header-light, 10%));
      @include hover-link;
    }
  }
}

// Editor font styles
.align-right {
  float: right;
  margin-left: 1em;
  img {
    margin-top: 0;
  }
}

.align-left {
  float: left;
  margin-right: 1em;
  img {
    margin-top: 0;
  }
}