@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "mixins.scss";
@import "typography.scss";
@import "variables.scss";

body {
  background-image: url('../images/fabric_background.png');
  a {
    // Use link-colors() from compass
    &:link,
    &:visited,
    &:hover,
    &:active {
      @include link-colors($color-link, $color-link,$color-link, $color-link, $color-link);
    }
  }
}

header {
  .zone-menu-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 30px;
    nav {
      float: right;
      position: relative;
      top: 8px;
      li a {
        &:link,
        &:visited,
        &:hover,
        &:active {
         @include link-colors($color-header-light, lighten($color-header-light, 10%));
          @include hover-link;
        }
      }
    }
  }

  .zone-branding-wrapper {
    @include single-box-shadow($color-header-light, 0, 5px, 5px);
    @include rgba-background($color-header-lighter, .75);
    height: 255px;
    background-image: url('../images/header_edge_ff.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-bottom: 10px;
    .site-logo {
      position: absolute;
      top: 65px;
      left: -7.255319148936%;
    }
  }
}

// Style the widget.
#fff-widget {
  float: right;
  width: 50.531914893617%;
  height: 255px;
  color: lighten($color-text, 20%);
  letter-spacing: 0.04em;
  .fffW-widget {
    position: absolute;
    top: 0;
    bottom: 50%;
    height: 1em;
    margin: auto;
    width: 50.531914893617%; /* IE 8 fix */
    height: 0 /* IE 8 fix */
  }
  .fff-quotes {
    height: 45px;
    width: 45px;
    background: transparent no-repeat url('../images/quotes.png');
    position: absolute;
    top: -40px;
    left: -60px;
  }
  .fffW-title {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .fffW-text {
    font-size: 16px;
  }
  .fffw-button-reload {
    display: block;
    background: transparent no-repeat url('../images/icon_reload.png') -29px 0;
    height: 30px;
    padding-top: 10px;
    overflow: hidden;
    text-indent: -9999px;
    width: 26px;
    float: right;
    &:hover {
      background: transparent no-repeat url('../images/icon_reload.png') 0 0;
    }
  }
  .fffW-slogan {
    display: none;
  }
}

// Style steps on frontpage.
.section-content {
  p {
    margin-bottom: 1em;
  }

  .view-frontpage-steps {
    float: left;
    li.step {
      clear: left;
      float: left;
      padding: 60px 0;
      background: transparent url('../images/dashes.png') repeat-x left bottom;
      &.views-row-last {
        background: none;
      }
      .step {
        float: left;
        width: 13.541666666667%;
        .step-text {
          position: relative;
          top: -35px;
        }
      }
      .step-content-wrapper {
        float: left;
        width: 79.042553191489%;
        h2 {
          padding-top: 8px;
          margin-bottom: 30px;
        }
        .text {
          float: left;
          width: 60.354430379747%;
          ul {
            list-style: disc inside none;
            margin-bottom: 8px;
            li {
              margin-bottom: 2px;
            }
          }
          dd {
            margin-bottom: 20px;
            padding-left: 10px;
          }
        }
        .screenshots img {
          margin-left: 8px;
        }
        .icon {
          float: right;
          width: 31.645569620253%;
        }
      }
    }
  }
}

footer {
  .zone-footer-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 50px;
    text-align: center;
  }
  .content {
    color: lighten($color-header-light, 10%);
    margin-top: 15px; // Fix this with % later
    a {
      @include link-colors($color-header-light, lighten($color-header-light, 10%));
      @include hover-link;
    }
  }
}

// Editor font styles
.align-right {
  float: right;
  margin-left: 1em;
  img {
    margin-top: 0;
  }
}

.align-left {
  float: left;
  margin-right: 1em;
  img {
    margin-top: 0;
  }
}

// Handle widget generator code.
.fff-widget-generator-wrapper {
  #fff-widget-generator {
    label {
      clear: both;
      width: 100%;
      display: block;
      input, select {
        margin: 4px 0 4px 8px;
      }
      .tracking {
        float: left;
        position: relative;
        top: -5px;
        margin-right: 8px;
      }
      &.create-label {
        clear: none;
        float: left;
        width: auto;
        margin-left: 8px;
        margin-bottom: 8px;
      }
    }
    .create {
      float: left;
    }
    fieldset {
      border: 2px groove #F0F0F0;
      margin: 8px;
      margin-left:0;
      label {
        input {
          float: left;
          margin-right: 8px;
        }
      }
    }

    .fff-widget-generator-btn {
      margin-top: 10px;
    }
  }
}

#fff-widget-code-wrapper {
  #fff-widget-code {
    background-color: #FFF;
    border: 2px groove #F0F0F0;
    height: 320px;
    overflow: auto;
    margin-bottom: 8px;
  }
}

/* Widget demo page styles */

.region-content {
  padding-top:60px;
}

.fff-widget-generator-wrapper,
.demo-wrapper {
  float: left;
  width: 50%;
}

.fff-widget-generator-wrapper {
  width:45%;
  margin-right: 1em;
}

hr.divider {
  background: transparent url("../images/dashes.png") repeat-x left bottom;
  height: 5px;
  width: 100%;
}
