@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "mixins.scss";
@import "typography.scss";
@import "variables.scss";

body {
  background-image: url('../images/fabric_background.png');
  color: $color-text;
}

header {
  .zone-menu-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 30px;
    nav {
      float: right;
      position: relative;
      top: 8px;
      li a {
        @include link-colors($color-header-light, lighten($color-header-light, 10%));
        @include hover-link;
      }
    }
  }
  
  .zone-branding-wrapper {
    @include single-box-shadow($color-header-light, 0, 5px, 5px);
    @include rgba-background($color-header-lighter, .75);
    height: 255px;
    margin-bottom: 10px;
    .site-logo {
      position: relative;
      top: 65px;
      left: 4.255319148936%;
    }
  }
}

// Style steps on frontpage.
.section-content {
  margin: 20px;
  h2 {
    position: relative;
    left: 8%;
    color: $color-headlines;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  .view-frontpage-steps {
    li {
      clear: both;
      float: left;
      margin-bottom: 20px;
      .step-text {
        font-size: 140%;
      }
      .counter {
        font-size: 500%;
        font-weight: bold;
      }      
      .step-content-wrapper {    
        .text {
          position: relative;
          left: 8%;
          float: left;
          width: 56.382978723404%;
        }
        .icon {
          float: right;
          width: 31.914893617021%
        }
      }
    }
  }
}

footer {
  .zone-footer-wrapper {
    @include rgba-background($color-header-dark, .75);
    height: 50px;
  }
  .content {
    color: lighten($color-header-light, 10%);
    margin-top: 15px; // Fix this with % later
    a {
      @include link-colors($color-header-light, lighten($color-header-light, 10%));
      @include hover-link;
    }
  }
}

// Editor font styles
.align-right {
  float: right;
  margin-left: 1em;
  img {
    margin-top: 0;
  }
}

.align-left {
  float: left;
  margin-right: 1em;
  img {
    margin-top: 0;
  }
}