
// Colors
$color-header-dark: #000;
$color-header-light: #888;
$color-header-lighter: #FFF;
$color-menu-dark: #9c9c9c;
$color-headlines: #fd4412;
$color-text: #525252;
$color-step: #fd7058;
$color-link: #f13535;

// Fonts
$main_font: "PTSansRegular";
$sec_font: "akaDora";