/* line 17, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/finurlig.scss */
body {
  background-image: url("../images/fabric_background.png");
}

/* line 13, ../sass/finurlig.scss */
header .zone-menu-wrapper {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#hex(191)hex(0)hex(0)hex(0),endColorstr=#hex(191)hex(0)hex(0)hex(0));
  zoom: 1;
  height: 30px;
}
/* line 16, ../sass/finurlig.scss */
header .zone-menu-wrapper nav {
  float: right;
  position: relative;
  top: 8px;
}
/* line 20, ../sass/finurlig.scss */
header .zone-menu-wrapper nav li a {
  color: #888888;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header .zone-menu-wrapper nav li a:hover {
  color: #a2a2a2;
}
/* line 4, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
header .zone-menu-wrapper nav li a:hover {
  text-decoration: underline;
}
/* line 28, ../sass/finurlig.scss */
header .zone-branding-wrapper {
  -webkit-box-shadow: 0 5px 5px #888888;
  -moz-box-shadow: 0 5px 5px #888888;
  box-shadow: 0 5px 5px #888888;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#hex(191)hex(255)hex(255)hex(255),endColorstr=#hex(191)hex(255)hex(255)hex(255));
  zoom: 1;
  height: 255px;
  margin-bottom: 10px;
}
/* line 33, ../sass/finurlig.scss */
header .zone-branding-wrapper .site-logo {
  position: relative;
  top: 60px;
}

/* line 41, ../sass/finurlig.scss */
.align-right {
  float: right;
  margin-left: 1em;
}
/* line 44, ../sass/finurlig.scss */
.align-right img {
  margin-top: 0;
}

/* line 49, ../sass/finurlig.scss */
.align-left {
  float: left;
  margin-right: 1em;
}
/* line 52, ../sass/finurlig.scss */
.align-left img {
  margin-top: 0;
}
