/* line 17, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "akaDora";
  src: url('fonts/akaDora/akaDora.eot');
  src: url('fonts/akaDora/akaDora.eot?#iefix') format('eot'), url('fonts/akaDora/akaDora.woff') format('woff'), url('fonts/akaDora/akaDora.ttf') format('truetype'), url('fonts/akaDora/akaDora.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "PTSansRegular";
  src: url('fonts/ptSans/PTS55F-webfont.eot');
  src: url('fonts/ptSans/PTS55F-webfont.eot?#iefix') format('eot'), url('fonts/ptSans/PTS55F-webfont.woff') format('woff'), url('fonts/ptSans/PTS55F-webfont.ttf') format('truetype'), url('fonts/ptSans/PTS55F-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "mgOpenModerna";
  src: url('fonts/mgOpenModerna/mgopenmodernabold-webfont.eot');
  src: url('fonts/mgOpenModerna/mgopenmodernabold-webfont.eot?#iefix') format('eot'), url('fonts/mgOpenModerna/mgopenmodernabold-webfont.woff') format('woff'), url('fonts/mgOpenModerna/mgopenmodernabold-webfont.ttf') format('truetype'), url('fonts/mgOpenModerna/mgopenmodernabold-webfont.svg') format('svg');
  font-weight: "bold";
  font-style: "bold";
}

/* line 9, ../sass/typography.scss */
body {
  color: #525252;
  font-family: PTSansRegular, arial, sans-serif;
  font-size: 15px;
}

/* line 15, ../sass/typography.scss */
b, strong {
  font-weight: bold;
}

/* line 19, ../sass/typography.scss */
em, i {
  font-style: italic;
}

/* line 24, ../sass/typography.scss */
.view-frontpage-steps h2 {
  color: #fd4412;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0em;
}
/* line 30, ../sass/typography.scss */
.view-frontpage-steps .step-text {
  font-family: akaDora;
  font-size: 31px;
  color: #fd7058;
}
/* line 35, ../sass/typography.scss */
.view-frontpage-steps .counter {
  font-family: mgOpenModerna;
  font-size: 100px;
  color: #b8b8b8;
}

/* line 8, ../sass/finurlig.scss */
body {
  background-image: url("../images/fabric_background.png");
}
/* line 15, ../sass/finurlig.scss */
body a:link, body a:visited, body a:hover, body a:active {
  color: #f13535;
}
/* line 18, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:link:visited, body a:visited:visited, body a:hover:visited, body a:active:visited {
  color: #f13535;
}
/* line 21, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:link:focus, body a:visited:focus, body a:hover:focus, body a:active:focus {
  color: #f13535;
}
/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:link:hover, body a:visited:hover, body a:hover:hover, body a:active:hover {
  color: #f13535;
}
/* line 27, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:link:active, body a:visited:active, body a:hover:active, body a:active:active {
  color: #f13535;
}

/* line 22, ../sass/finurlig.scss */
header .zone-menu-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
  height: 30px;
}
/* line 25, ../sass/finurlig.scss */
header .zone-menu-wrapper nav {
  float: right;
  position: relative;
  top: 8px;
}
/* line 33, ../sass/finurlig.scss */
header .zone-menu-wrapper nav li a:link, header .zone-menu-wrapper nav li a:visited, header .zone-menu-wrapper nav li a:hover, header .zone-menu-wrapper nav li a:active {
  color: #888888;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
header .zone-menu-wrapper nav li a:link:hover, header .zone-menu-wrapper nav li a:visited:hover, header .zone-menu-wrapper nav li a:hover:hover, header .zone-menu-wrapper nav li a:active:hover {
  color: #a2a2a2;
}
/* line 4, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
header .zone-menu-wrapper nav li a:link:hover, header .zone-menu-wrapper nav li a:visited:hover, header .zone-menu-wrapper nav li a:hover:hover, header .zone-menu-wrapper nav li a:active:hover {
  text-decoration: underline;
}
/* line 41, ../sass/finurlig.scss */
header .zone-branding-wrapper {
  -webkit-box-shadow: 0 5px 5px #888888;
  -moz-box-shadow: 0 5px 5px #888888;
  box-shadow: 0 5px 5px #888888;
  background-color: rgba(255, 255, 255, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);
  height: 255px;
  background-image: url("../images/header_edge_ff.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  margin-bottom: 10px;
}
/* line 49, ../sass/finurlig.scss */
header .zone-branding-wrapper .site-logo {
  position: absolute;
  top: 65px;
  left: -7.255%;
}

/* line 58, ../sass/finurlig.scss */
#fff-widget {
  float: right;
  width: 50.531914893617%;
  height: 255px;
  color: #858585;
  letter-spacing: 0.04em;
}
/* line 64, ../sass/finurlig.scss */
#fff-widget .fffW-widget {
  position: absolute;
  top: 0;
  bottom: 50%;
  height: 1em;
  margin: auto;
  width: 50.531914893617%;
  /* IE 8 fix */
  height: 0;
}
/* line 73, ../sass/finurlig.scss */
#fff-widget .fff-quotes {
  height: 45px;
  width: 45px;
  background: transparent no-repeat url("../images/quotes.png");
  position: absolute;
  top: -40px;
  left: -60px;
}
/* line 81, ../sass/finurlig.scss */
#fff-widget .fffW-title {
  font-size: 35px;
  margin-bottom: 15px;
}
/* line 85, ../sass/finurlig.scss */
#fff-widget .fffW-text {
  font-size: 16px;
}
/* line 88, ../sass/finurlig.scss */
#fff-widget .fffw-button-reload {
  display: block;
  background: transparent no-repeat url("../images/icon_reload.png") -29px 0;
  height: 30px;
  padding-top: 10px;
  overflow: hidden;
  text-indent: -9999px;
  width: 26px;
  float: right;
}
/* line 97, ../sass/finurlig.scss */
#fff-widget .fffw-button-reload:hover {
  background: transparent no-repeat url("../images/icon_reload.png") 0 0;
}

/* line 105, ../sass/finurlig.scss */
.section-content p {
  margin-bottom: 1em;
}
/* line 109, ../sass/finurlig.scss */
.section-content .view-frontpage-steps {
  float: left;
}
/* line 111, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li {
  clear: left;
  float: left;
  padding: 60px 0;
  background: transparent url("../images/dashes.png") repeat-x left bottom;
}
/* line 116, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li.views-row-last {
  background: none;
}
/* line 119, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step {
  float: left;
  width: 13.541666666667%;
}
/* line 122, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step .step-text {
  position: relative;
  top: -35px;
}
/* line 127, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step-content-wrapper {
  float: left;
  width: 79.042553191489%;
}
/* line 130, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step-content-wrapper h2 {
  padding-top: 8px;
  margin-bottom: 30px;
}
/* line 134, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step-content-wrapper .text {
  float: left;
  width: 60.354430379747%;
}
/* line 138, ../sass/finurlig.scss */
.section-content .view-frontpage-steps li .step-content-wrapper .icon {
  float: right;
  width: 31.645569620253%;
}

/* line 148, ../sass/finurlig.scss */
footer .zone-footer-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
  height: 50px;
}
/* line 152, ../sass/finurlig.scss */
footer .content {
  color: #a2a2a2;
  margin-top: 15px;
}
/* line 155, ../sass/finurlig.scss */
footer .content a {
  color: #888888;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer .content a:hover {
  color: #a2a2a2;
}
/* line 4, ../../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
footer .content a:hover {
  text-decoration: underline;
}

/* line 163, ../sass/finurlig.scss */
.align-right {
  float: right;
  margin-left: 1em;
}
/* line 166, ../sass/finurlig.scss */
.align-right img {
  margin-top: 0;
}

/* line 171, ../sass/finurlig.scss */
.align-left {
  float: left;
  margin-right: 1em;
}
/* line 174, ../sass/finurlig.scss */
.align-left img {
  margin-top: 0;
}

/* line 182, ../sass/finurlig.scss */
.fff-widget-generator-wrapper #fff-widget-generator label {
  clear: both;
  width: 100%;
  display: block;
}
/* line 186, ../sass/finurlig.scss */
.fff-widget-generator-wrapper #fff-widget-generator label input, .fff-widget-generator-wrapper #fff-widget-generator label select {
  margin: 4px 0 4px 8px;
}
/* line 190, ../sass/finurlig.scss */
.fff-widget-generator-wrapper #fff-widget-generator fieldset {
  border: 2px groove #F0F0F0;
  margin: 8px;
}
/* line 193, ../sass/finurlig.scss */
.fff-widget-generator-wrapper #fff-widget-generator fieldset legend {
  /*      padding-bottom: 4px;
        padding-left: 8px;*/
}
/* line 198, ../sass/finurlig.scss */
.fff-widget-generator-wrapper #fff-widget-generator fieldset label input {
  float: left;
  margin-right: 8px;
}

/* line 208, ../sass/finurlig.scss */
#fff-widget-code-wrapper #fff-widget-code {
  background-color: #FFF;
  border: 2px groove #F0F0F0;
  height: 320px;
  overflow: auto;
  margin-bottom: 8px;
}
